@import "@/Variables.scss";

.title {
  line-height: 19px;
  display: block;
  font-size: 16px;
  text-align: left;
}

.num-btns {
  position: absolute;
  right: 6px;
  bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 1px;

  .increment,
  .decrement {
		outline: none;
		border: none;
		box-shadow: none;
    display: flex;
    width: 13px;
    height: 13px;
  }
}

.config-halls {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 41px;
  .choose-hall {
    .halls {
      user-select: none;
      margin-top: 9px;
      overflow-x: auto;
      overflow-y: hidden;
      height: 46px;
      align-items: center;
      display: flex;
      gap: 1px;
      flex-wrap: nowrap;
      scroll-behavior: smooth;

      .hall {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: rgba($color-white, 0.45);
        height: 42px;
        padding: 0 20px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }

      .hall:hover {
        background-color: $color-white;
      }

      .hall--active {
        animation: pickHall 0.25s ease-in-out;
        background-color: $color-white;
        height: 46px;
        padding: 0 23px;
      }
    }

    .halls::-webkit-scrollbar {
      display: none;
    }
  }

  .choose-seats {
    margin-top: 33px;

    .seats-quantity {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 14px;

      .label {
        text-align: left;
        font-size: 12px;
        color: $color-gray-text;
      }

      .x {
        user-select: none;
        font-size: 18px;
        margin-top: 21px;
        color: $color-gray-text;
        align-self: flex-start;
      }

      .seats,
      .rows {
        position: relative;
        display: flex;
        flex-direction: column;
      }

      .seats-input,
      .rows-input {
        width: 100px;
        height: 36px;
      }
    }
  }

  .grid-legend {
    margin-top: 35px;

    .legend {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .starndart-seat,
      .vip-seat,
      .disabled-seat {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-right: 11px;
      }

      .description {
        font-size: 14px;
        color: $color-gray-text;
      }
    }
  }
}

@media (min-width: 768px) {
  .config-halls {
    .choose-hall {
      .halls {
        height: 48px;
      }

      .halls::-webkit-scrollbar {
        display: block;
        height: 4px;
      }
    }
  }
}

@keyframes pickHall {
  0% {
    transform: scale(100%);
  }

  25% {
    transform: scale(95%);
  }

  50% {
    transform: scale(90%);
  }

  75% {
    transform: scale(95%);
  }

  100% {
    transform: scale(100%);
  }
}
