@import "@/Variables.scss";

.schedule {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  gap: 15px;

  .hall {
    width: 100%;
		padding: 0 20px;
		height: 98px;
		overflow-y: hidden;
		overflow-x: auto;
		z-index: 1;
    .hall-name {
			height: 17px;
      line-height: 19px;
      display: block;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .time-line {
      position: relative;
      width: 720px;
      height: 62px;
      border: solid 1px $color-gray-text;
      display: flex;
      align-items: center;
			z-index: 2;

      .seance {
        cursor: grab;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: solid 1px;
				z-index: 3;

				.film-name {
					font-size: 10px;
				}

				.film-name-vh {
					display: none;
					font-size: 12px;
					position: absolute;
					top: -26px;
					padding: 0 4px;
					background-color: $color-light-gray;
					border: solid 1px $color-gray-text;
					border-radius: 5px;
				}

				.film-name-vh::after {
					content: "";
					position: absolute;
					border-bottom: solid 1px $color-gray-text;
					border-right: solid 1px $color-gray-text;
					width: 5px;
					height: 5px;
					background-color: $color-light-gray;
					bottom: -4px;
					left: 50%;
					transform: translateX(-50%) rotate(45deg);
				}

        .time::before {
          content: "";
          position: absolute;
          border-left: solid 1px $color-gray-text;
          height: 5px;
          background-color: $color-gray-text;
          top: -7px;
          left: 14px;
					z-index: 4;
        }

        .time {
					pointer-events: none;
          color: $color-gray-text;
          font-size: 12px;
          position: absolute;
          left: -15px;
          bottom: -36px;
					z-index: 4 !important;
        }
      }
			
			.seance:hover > .film-name-vh {
				display: block;
				animation: showFilmName 0.15s ease-out;
			}
    }
  }

  .hall::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 568px) {
  .schedule {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
	.schedule {
		margin-top: 52px;
	}
}

@keyframes showFilmName {
	0% {
		opacity: 0;
		top: 10px;
	}

	100% {
		opacity: 1;
		top: -26px;
	}
}