@import "@/Variables.scss";

.dropdown {
	width: 100%;
	position: relative;

	.dropdown-content {
		text-align: left;
		padding: 8px 12px;
		width: 100%;
		border-radius: 0;
		display: flex;
		align-items: center;
	}

	.dropdown-inner {
		max-height: 350px;
		overflow: auto;
		font-size: 16px;
		color: $color-black;
		box-sizing: border-box;
		position: absolute;
		top: 45px;
		background-color: $color-white;
		width: 100%;
		border: solid 1px $color-violet;
		z-index: 3;
		animation: show .15s ease-in-out;
	}

	.dropdown-inner::-webkit-scrollbar {
		width: 4px;
	}

	.dropdown-inner::-webkit-scrollbar-thumb {
		background-color: $color-violet !important;
		border-radius: 0 !important;
	}

	.dropdown-inner::-webkit-scrollbar-thumb:hover {
		width: 7px;
	}

	.dropdown-inner::-webkit-scrollbar-button {    
		height: 0;
		width: 0;
	}

	.dropdown-inner::-webkit-scrollbar-track {
		background-color: transparent;
		border: none;
	}
}

@keyframes show {
	0% {
		transform: scaleY(0.7);
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}