@import "@/Variables.scss";

.session-grid {
  padding-top: 53px;
  padding-bottom: 75px;
  .films {
    .add-film {
      padding: 11px 32px;
      font-size: 14px;
      font-weight: 500;
    }

    .film-list {
      margin-top: 36px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .film {
				outline: none;
				border-radius: 0;
				padding: 0;
				color: inherit;
				cursor: grab;
        position: relative;
        border: solid 1px;
        display: flex;
        width: 260px;
        height: 52px;
				z-index: 1;
				transition: all .1s ease-out;

        .film-poster {
					pointer-events: none;
          height: 50px;
        }

        .film-info {
					height: 50px;
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;

          .film-name {
            display: block;
            width: fit-content;
            font-size: 14px;
            font-weight: 500;
          }

					.film-name-vh {
						font-weight: 400;
						white-space: nowrap;
						display: none;
						font-size: 12px;
						position: absolute;
						top: -22px;
						left: 50%;
						transform: translateX(-50%);
						padding: 0 4px;
						background-color: $color-light-gray;
						border: solid 1px $color-gray-text;
						border-radius: 5px;
					}
	
					.film-name-vh::after {
						content: "";
						position: absolute;
						border-bottom: solid 1px $color-gray-text;
						border-right: solid 1px $color-gray-text;
						width: 5px;
						height: 5px;
						background-color: $color-light-gray;
						bottom: -3.5px;
						left: 50%;
						transform: translateX(-50%) rotate(45deg);
					}

          .film-duration {
            color: rgba($color-black, 0.7);
            display: block;
            width: fit-content;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .delete {
          position: absolute;
          right: 5px;
          bottom: 5px;
          transition: all 0.15s ease-in-out;
          box-shadow: 0 4px 4px 0 rgba($color-black, 0.3);
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          border: none;
          padding: 0;
          background-color: $color-white;
					z-index: 5;

          .bin {
            width: 12px;
            height: 12px;
          }
        }

        .delete:focus {
          outline: none;
        }

        .delete:hover {
          background-color: rgba($color-white, 0.5);
        }
      }

			.film:hover > .film-info > .film-name-vh {
				display: block;
				animation: showFullName 0.15s ease-in-out;
			}

			.film:focus > .film-info > .film-name-vh {
				display: block;
				animation: showFullName 0.15s ease-in-out;
			}

      .film:nth-child(5n - 4) {
        background-color: $first-bg;
        border-color: $first-border;
      }
      .film:nth-child(5n - 3) {
        background-color: $second-bg;
        border-color: $second-border;
      }
      .film:nth-child(5n - 2) {
        background-color: $third-bg;
        border-color: $third-border;
      }
      .film:nth-child(5n - 1) {
        background-color: $fourth-bg;
        border-color: $fourth-border;
      }
      .film:nth-child(5n) {
        background-color: $fifth-bg;
        border-color: $fifth-border;
      }
    }
  }

	.btns-wrapper {
    margin-top: 33px;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 14px;

    .cancel,
    .save {
      height: 40px;
      padding: 0 32px;
      font-size: 14px;
      font-weight: 500;
    }

    .save {
      width: 146px;
    }
  }
}

@keyframes showFullName {
	0% {
		top: 20px;
		opacity: 0;
	}
	100% {
		top: -22px;
		opacity: 1;
	}
}



