@import "@/Variables.scss";

.client {
	display: flex;
	flex-direction: column;
	background-image: url("@/assets/background_client.jpg");
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100dvh;
}

@media (min-width: 990px) {
	.client {
		background-attachment: fixed;
	}
}