@import "@/Variables.scss";

.confirmation {
	pointer-events: none;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: solid 1px $color-violet;
	background-color: $color-light-gray;
	padding: 10px;
	border-radius: 5px;
	animation: show 4.1s ease-in-out;
	z-index: 10;
}

@keyframes show {
	0% {
		top: -80px;
	}
	10% {
		top: 20px;
	}
	50% {
		top: 20px;
	}
	80% {
		top: 20px;
	}
	100% {
		top: -80px;
	}
}