@import "@/Variables.scss";


.reservation {
	overflow: auto;
	.header {
		justify-content: flex-start;
		display: flex;
		box-sizing: border-box;
		padding: 11px 15px;
		height: 66px;
	}

	.main {
		width: 100%;
		background-color: rgba($color-cream, .95);
	}
}