@import "@/Variables.scss";

.seats {
	overflow: hidden;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-dark;
  color: $color-white;
	transition: all .2s ease-in-out;

  .screen {
		pointer-events: none;
    width: 284px;

    .screen-svg {
      width: 100%;
    }
  }

  .disabled,
  .standart,
  .vip,
  .taken,
  .selected {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: solid 1px transparent;
  }

  .standart,
  .vip,
  .taken,
  .selected {
		pointer-events: all;
    border-color: $color-dark-gray;
  }

	.standart,
	.vip {
    transition: background-color 0.25s, box-shadow 0.25s, opacity 0.1s;
    cursor: pointer;
	}

	.standart:hover,
	.vip:hover {
		opacity: 0.8;
	}

  .standart {
    background-color: $color-white;
  }

  .vip {
    background-color: $color-orange;
  }

  .selected {
    box-shadow: 0 0 4px 0 rgba($color-light-cian, 0.8);
    background-color: $color-light-cian !important;
  }

  .grid {
		pointer-events: none;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .row {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }
  }

  .legend {
		pointer-events: none;
    margin-top: 28px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .legend-item {
      display: flex;
      align-items: center;

      .standart,
      .vip,
      .taken,
      .selected {
				pointer-events: none;
				opacity: 1;
        cursor: default;
      }

      .legend-text {
        margin-left: 4px;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .legend-item:nth-child(2n + 1) {
      width: 170px;
      margin-left: 33px;
    }
    .legend-item:nth-child(2n + 2) {
      margin-left: 4px;
    }
  }
}
