@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "@/Variables.scss";

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-family: "Roboto", sans-serif;
  width: 100%;
	min-width: 320px;
  height: 100vh;
  text-align: center;
}

.button {
	overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba($color-black, 0.3);
  color: inherit;
  padding: 0;
  display: block;
  width: fit-content;
	border: none;
  border-radius: 3px;
  background-color: $color-cian;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: $color-dark;
}

.button:focus {
	outline: solid 1px $color-dark;
	outline-offset: -1px;
}

.input-text {
	padding: 9px;
	font-size: 16px;
	width: 100%;
	border: solid 1px $color-input-border;
	color: $color-black;
	background-color: $color-white;
	transition: outline-offset 0.25s;
	outline-offset: 10px;
}

.input-text:focus {
	outline: solid 1px $color-violet;
	outline-offset: -1px;
}

// .slide-right-enter {
// 	transform: translate(100%);
// }

// .slide-right-enter-active {
// 	transform: translate(0%);
// 	transition: transform 0.5s ease-in-out;
// }

// .slide-right-exit {
// 	transform: translateX(0%);
// }

// .slide-right-exit-active {
// 	transform: translateX(-100%);
// 	transition: transform 0.5s ease-in-out;
// }

// .slide-left-enter {
// 	transform: translate(-100%);
// }

// .slide-left-enter-active {
// 	transform: translate(0%);
// 	transition: transform 0.5s ease-in-out;
// }

// .slide-left-exit {
// 	transform: translateX(0%);
// }

// .slide-left-exit-active {
// 	transform: translateX(100%);
// 	transition: transform 0.5s ease-in-oleft
// }