$color-white: #fff;
$color-black: #000;
$color-cian: #16A6AF;
$color-light-cian: #25C4CE;
$color-red: #E52B2B;

// client colors
$color-dark-gray: #525252;
$color-orange: #f9953a;
$color-dark: #171D24;
$color-cream: #F1EBE6;

// admin colors
$color-light-gray: #EAE9EB;
$color-violet: #63536C;
$color-light-violet: #BC95D6;
$color-input-border: #B7B7B7;
$color-gray-text: #848484;
$color-seat: #C4C4C4;
$color-seat-border: #393939;
$color-seat-vip: #B0D6D8;
$color-seat-border-vip: #0A828A;