@import "@/Variables.scss";

.loader {
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%);
}

.settings {
  max-width: 962px;
  margin: 0 auto;
  width: 100%;

  .header {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 120px;

    .logo {
      margin-left: 105px;
      color: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .logo-admin {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 6px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 568px) {
  .settings {
    .header {
      .logo {
        margin-left: 100px;
      }
    }
  }
}
